.stack-container {
  min-height: 400px;
  border: 2px solid #3b82f6;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 0.5rem;
  background-color: #f3f4f6;
}
.stack-element {
  transition: all 0.3s ease-in-out;
  width: 90%;
  padding: 0.75rem 0;
  margin-top: 0.5rem;
  text-align: center;
  border-radius: 0.375rem;
  color: white;
  font-weight: 700;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.peek-highlight {
  border: 4px solid #f97316; 
  box-shadow: 0 0 10px #f97316;
}
